body {
background-color: rgb(209, 205, 205)   ;
font-family: Verdana, Geneva, Tahoma, sans-serif;
max-width: 900px;
margin: auto;
}


.photo {
    border: 1px solid #000;
    border-radius: 50px;
}

#title {

    font-size: 30px;
    text-transform: uppercase;
}

a {
    text-decoration: line-through;
    color: #3f3d3d;
}


#title, .subtitle, .post_title, .corptext
 {

    color: rgb(2, 2, 2) ;    
}

.post_title {
    font-size: 16px;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    margin: 0%;
    margin-bottom: 15px;

}

.post {
    background: rgb(252, 252, 252);
    padding: 15px;
    border:  3px solid #000;
    margin-bottom: 15px;
    border-radius: 10px;

}

.post_content
{
margin: 0%;
margin-bottom: 15px;
text-transform: capitalize;
text-align: justify ;


}

.post_image {
    margin-bottom: 15px;
     
}


.contacts_list {
    list-style-type: none;
padding-left: 15px;

}

.contacts_list li a {
text-decoration: none;

}